/*  
Template : BOOTCUBE2.1
Author : @takeshi-du
Website : http://designup.jp
Note: All content are copyrighted by author. Please, don't steal anything.

ブロックのスタイル

01. bc_banner
02. bc_calendar
03. bc_carousel
04. bc_category_mega_menu
05. bc_categoryList
06. bc_footer_guide
07. bc_globalNav
08. bc_headCart
09. bc_headerlogin
10. bc_headSearch
11. bc_infomation
12. bc_login_button
13. bc_newProducts
14. bc_qrCode
15. bc_ranking
16. bc_recommend
17. bc_sidelogin
18. bc_sideranking
19. bc_slider
*/
/* ------------------------------------- */
/*	 common 	*/
/* ------------------------------------- */
#topcolumn .block_outer {
  background-color: #fff;
  padding: 0;
  margin-bottom: 20px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #ccc;
}

#contents .block_outer {
  padding: 10px;
  margin-bottom: 30px;
  background-color: #fff;
  box-shadow: 0 0 3px #ddd;
}
#contents #main_column .item_panel {
  min-height: 180px;
}
@media (max-width: 768px) {
  #contents #main_column .item_panel {
    min-height: 222px;
  }
}

/* ------------------------------------- */
/*	 01.bc_banner 	*/
/* ------------------------------------- */
.bc_banner {
  margin-bottom: 10px;
}
.bc_banner img {
  width: 100%;
  height: 100%;
  margin-bottom: 10px;
}

/* ------------------------------------- */
/*	 02.bc_calendar 	*/
/* ------------------------------------- */
#bc_calendar .title {
  padding: 10px 0;
  margin: 0;
  margin-bottom: 10px;
  border-bottom: 1px solid #eee;
  font-size: 16px;
  color: #555;
  font-weight: bold;
}
#bc_calendar table {
  font-size: 12px;
}
#bc_calendar caption {
  padding: 6px;
  background-color: #FFFFFF;
  color: #6A6A6A;
}
#bc_calendar .table > thead > tr > th,
#bc_calendar .table > tbody > tr > th,
#bc_calendar .table > tfoot > tr > th,
#bc_calendar .table > thead > tr > td,
#bc_calendar .table > tbody > tr > td,
#bc_calendar .table > tfoot > tr > td {
  padding: 0;
  text-align: center;
}
#bc_calendar .information {
  font-size: 12px;
  color: #aaa;
}

/* ------------------------------------- */
/*	 03.bc_carousel 	*/
/* ------------------------------------- */
#bc_carousel .title {
  padding: 10px 0;
  margin: 0;
  margin-bottom: 10px;
  border-bottom: 1px solid #eee;
  font-size: 16px;
  color: #555;
  font-weight: bold;
}
#bc_carousel .carousel-inner > .item {
  padding: 10px 0;
}
#bc_carousel .carousel-inner > .item img {
  width: 100%;
  height: 100%;
}
#bc_carousel .carousel-control {
  top: -48px;
  left: auto;
  right: 39px;
  width: 30px;
  height: 30px;
  opacity: 1;
  text-shadow: none;
}
#bc_carousel .carousel-control.left {
  background-color: #fafafa;
  border: 1px solid #ccc;
  background-image: none;
}
#bc_carousel .carousel-control.left:hover {
  background-color: #f4f4f4;
}
#bc_carousel .carousel-control.right {
  right: 0;
  background-color: #fafafa;
  border: 1px solid #ccc;
  background-image: none;
}
#bc_carousel .carousel-control.right:hover {
  background-color: #f4f4f4;
}
#bc_carousel .carousel-control .glyphicon {
  top: 77%;
  color: #ccc;
  font-size: 16px;
}
#bc_carousel .carousel-control .glyphicon-chevron-right {
  left: 48%;
  top: 75%;
  color: #ccc;
  font-size: 16px;
}

/* ------------------------------------- */
/*	 04.bc_category_mega_menu 	*/
/* ------------------------------------- */
#bc_category_mega_menu ul {
  margin: 0;
}
#bc_category_mega_menu a {
  font-size: 14px;
  color: #555;
}
#bc_category_mega_menu .dropdown-toggle {
  display: inline-block;
  padding: 20px;
  border-right: 1px solid #eee;
  -webkit-transition: all 0s;
  -moz-transition: all 0s;
  -ms-transition: all 0s;
  -o-transition: all 0s;
  transition: all 0s;
}
#bc_category_mega_menu .dropdown-toggle.first {
  border-left: 1px solid #eee;
}
#bc_category_mega_menu .dropdown-toggle:hover, #bc_category_mega_menu .dropdown-toggle:focus {
  margin-top: -2px;
  border-top: 2px solid #1c83e1;
  color: #1c83e1;
  text-decoration: none;
}
#bc_category_mega_menu .dropdown-menu.mega_menu {
  width: 400px;
  padding: 15px;
}
#bc_category_mega_menu .dropdown-menu.mega_menu > li {
  margin-bottom: 20px;
}
#bc_category_mega_menu .dropdown-menu.mega_menu > li .title {
  margin-bottom: 10px;
  border-bottom: 1px solid #333;
}
#bc_category_mega_menu .dropdown-submenu {
  position: relative;
}
#bc_category_mega_menu .dropdown-submenu > .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
  -webkit-border-radius: 0 6px 6px 6px;
  -moz-border-radius: 0 6px 6px 6px;
  border-radius: 0 6px 6px 6px;
}
#bc_category_mega_menu .dropdown-submenu:hover > .dropdown-menu {
  display: block;
}
#bc_category_mega_menu .dropdown-submenu > a:after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: #cccccc;
  margin-top: 5px;
  margin-right: -10px;
}
#bc_category_mega_menu .dropdown-submenu:hover > a:after {
  border-left-color: #ffffff;
}
#bc_category_mega_menu .dropdown-submenu.pull-left {
  float: none;
}
#bc_category_mega_menu .dropdown-submenu.pull-left > .dropdown-menu {
  left: -100%;
  margin-left: 10px;
  -webkit-border-radius: 6px 0 6px 6px;
  -moz-border-radius: 6px 0 6px 6px;
  border-radius: 6px 0 6px 6px;
}

/* ------------------------------------- */
/*	 05.bc_categoryList	*/
/* ------------------------------------- */
#bc_categoryList .title {
  padding: 10px 0;
  margin: 0;
  margin-bottom: 10px;
  border-bottom: 1px solid #eee;
  font-size: 16px;
  color: #555;
  font-weight: bold;
}
#bc_categoryList .list_group .list_item {
  margin-bottom: 10px;
}
#bc_categoryList .list_group .list_item .glyphicon {
  margin-right: 20px;
  color: #888;
}
#bc_categoryList .list_group .list_item a {
  color: #555;
  font-size: 13px;
}
#bc_categoryList .list_group .list_item a:hover {
  color: #1c83e1;
  text-decoration: none;
}
#bc_categoryList .list_group .level2 {
  margin-top: 10px;
  margin-left: 10px;
}
#bc_categoryList .list_group .level3 {
  margin-top: 10px;
  margin-left: 10px;
}

/* ------------------------------------- */
/*	 06.bc_footer_guide 	*/
/* ------------------------------------- */
#bc_footer_guide .guide_panel {
  padding: 15px;
}
#bc_footer_guide .guide_panel .title {
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 10px;
  border-left: 4px solid #555555;
}

/* ------------------------------------- */
/*	 07.bc_globalNav 	*/
/* ------------------------------------- */
#bc_globalnav a {
  font-size: 14px;
  color: #555;
}
#bc_globalnav .container-fluid {
  padding-left: 0;
  padding-right: 0;
}
@media (max-width: 768px) {
  #bc_globalnav .container-fluid {
    padding-left: 15px;
    padding-right: 15px;
  }
}
#bc_globalnav .navbar-default {
  background-color: transparent;
  border-color: transparent;
}
#bc_globalnav .navbar {
  margin-bottom: 0;
}
#bc_globalnav .nav .open > a, #bc_globalnav .nav .open > a:hover, #bc_globalnav .nav .open > a:focus {
  background-color: transparent;
  border-color: #eee;
}
#bc_globalnav .dropdown-toggle {
  border-right: 1px solid #eee;
  -webkit-transition: all 0s;
  -moz-transition: all 0s;
  -ms-transition: all 0s;
  -o-transition: all 0s;
  transition: all 0s;
}
#bc_globalnav .dropdown-toggle.first {
  border-left: 1px solid #eee;
}
#bc_globalnav .dropdown-toggle:hover, #bc_globalnav .dropdown-toggle:focus {
  margin-top: -2px;
  border-top: 2px solid #1c83e1;
  color: #1c83e1;
}
#bc_globalnav .dropdown-menu.mobile {
  margin: 10px 0;
}
#bc_globalnav .dropdown-menu.mobile .level3.mobile {
  padding-left: 40px;
  margin-top: 10px;
}
#bc_globalnav .dropdown-submenu {
  position: relative;
}
#bc_globalnav .dropdown-submenu > .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
  -webkit-border-radius: 0 6px 6px 6px;
  -moz-border-radius: 0 6px 6px 6px;
  border-radius: 0 6px 6px 6px;
}
#bc_globalnav .dropdown-submenu:hover > .dropdown-menu {
  display: block;
}
#bc_globalnav .dropdown-submenu > a:after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: #cccccc;
  margin-top: 5px;
  margin-right: -10px;
}
#bc_globalnav .dropdown-submenu:hover > a:after {
  border-left-color: #ffffff;
}
#bc_globalnav .dropdown-submenu.pull-left {
  float: none;
}
#bc_globalnav .dropdown-submenu.pull-left > .dropdown-menu {
  left: -100%;
  margin-left: 10px;
  -webkit-border-radius: 6px 0 6px 6px;
  -moz-border-radius: 6px 0 6px 6px;
  border-radius: 6px 0 6px 6px;
}

/* ------------------------------------- */
/*	 08.bc_headCart 	*/
/* ------------------------------------- */
#bc_headCart {
  margin-top: 5px;
}
#bc_headCart .icon {
  padding: 7px 10px;
  color: #fff;
  font-size: 19px;
  background-color: #000000;
}
#bc_headCart .count {
  position: relative;
  top: -2px;
  padding: 9px 16px;
  border: 1px solid #ccc;
  border-left: none;
  font-size: 14px;
  color: #555;
}
#bc_headCart .link {
  position: relative;
  top: -3px;
  padding: 10px 16px;
  border: 1px solid #ccc;
  border-left: none;
  font-size: 12px;
}
#bc_headCart .link a {
  color: #555;
}

/* ------------------------------------- */
/*	 09.bc_headLogin 	*/
/* ------------------------------------- */
#header_navi .account {
  color: #fff;
}
#header_navi .logout {
  position: relative;
  top: -10px;
}

/* ------------------------------------- */
/*	 10.bc_headSearch 	*/
/* ------------------------------------- */
#bc_headSearch form {
  display: inline-flex;
}
#bc_headSearch form .category_select {
  position: relative;
  cursor: pointer;
  padding-right: 0;
}
#bc_headSearch form .category_select select {
  width: 100%;
  height: 36px;
  cursor: pointer;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-right: none;
}
#bc_headSearch form .category_select .carat {
  cursor: pointer;
  position: absolute;
  right: 12px;
  top: 50%;
  margin-top: -2px;
  border: 4px solid transparent;
  border-top: 6px solid #777;
}
#bc_headSearch form .input-group {
  padding-right: 15px;
}
#bc_headSearch form .input-group input {
  height: 36px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  border-right: none;
}
#bc_headSearch form .input-group .input-group-btn button {
  width: 38px;
  height: 36px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  border-color: #1c83e1;
  color: #fff;
  background-color: #1c83e1;
}

/* ------------------------------------- */
/*	 11.bc_infomation 	*/
/* ------------------------------------- */
#bc_infomation .title {
  padding: 10px 0;
  margin: 0;
  margin-bottom: 10px;
  border-bottom: 1px solid #eee;
  font-size: 18px;
  color: #555;
  font-weight: bold;
}
#bc_infomation .newslist {
  padding-bottom: 5px;
  margin-bottom: 15px;
  border-bottom: 1px dashed #aaa;
  color: #555;
  font-size: 14px;
}
#bc_infomation .newslist .date {
  margin-bottom: 5px;
  font-size: 12px;
  font-family: sans-serif;
}
#bc_infomation .newslist .text a {
  color: #888;
}
#bc_infomation .newslist .text a:hover {
  color: #1c83e1;
}

/* ------------------------------------- */
/*	 12.bc_login_button 	*/
/* ------------------------------------- */
#bc_login_button {
  display: inline-block;
  border-right: 1px solid #eee;
  border-left: 1px solid #eee;
}
#bc_login_button .login_btn {
  margin-bottom: 0;
}
#bc_login_button .login_btn .dropdown-toggle {
  display: inline-block;
  padding: 10px;
  padding-right: 20px;
  color: #555;
}
#bc_login_button .login_btn .dropdown-toggle:hover, #bc_login_button .login_btn .dropdown-toggle:focus {
  text-decoration: none;
}
#bc_login_button .login_btn .dropdown-toggle .user_name {
  font-size: 10px;
}
#bc_login_button .login_btn .dropdown-toggle .title {
  font-size: 16px;
}
#bc_login_button .login_btn i.fa {
  position: absolute;
  top: 48%;
  right: 5px;
}
#bc_login_button .login_btn .dropdown-menu {
  text-align: center;
}
#bc_login_button .login_btn .dropdown-menu li {
  padding: 15px 0;
  border-bottom: 1px solid #eee;
}
#bc_login_button .login_btn .dropdown-menu li:last-child {
  border-bottom: none;
}

/* ------------------------------------- */
/*	 13.bc_newProducts 	*/
/* ------------------------------------- */
#bc_newProducts > .title {
  padding: 10px 0;
  margin: 0;
  margin-bottom: 10px;
  border-bottom: 1px solid #eee;
  font-size: 18px;
  color: #555;
  font-weight: bold;
}
#bc_newProducts .content_panel .item_panel .item_image {
  margin-bottom: 5px;
  text-align: center;
}
#bc_newProducts .content_panel .item_panel .item_image img {
  width: 100%;
}
@media (max-width: 768px) {
  #bc_newProducts .content_panel .item_panel .item_image img {
    width: inherit;
  }
}
#bc_newProducts .content_panel .item_panel .item_meta {
  text-align: center;
}
#bc_newProducts .content_panel .item_panel .item_meta .title {
  margin-bottom: 2px;
  border: none;
  font-size: 12px;
}
#bc_newProducts .content_panel .item_panel .item_meta .title a {
  color: #333;
}
#bc_newProducts .content_panel .item_panel .item_meta .title a:hover {
  color: #1c83e1;
}
#bc_newProducts .content_panel .item_panel .item_meta .review {
  margin-bottom: 0px;
}
#bc_newProducts .content_panel .item_panel .item_meta .review i {
  color: #EBBF29;
}
#bc_newProducts .content_panel .item_panel .item_meta .review i.fa-star-o {
  color: #ccc;
}
#bc_newProducts .content_panel .item_panel .item_meta .review .count {
  color: #3A65AB;
}
#bc_newProducts .content_panel .item_panel .item_meta .sale_price {
  color: #D50A0A;
  font-size: 14px;
}

/* ------------------------------------- */
/*	 14.bc_qrCode 	*/
/* ------------------------------------- */
#bc_qrCode .title {
  padding: 10px 0;
  margin: 0;
  margin-bottom: 10px;
  border-bottom: 1px solid #eee;
  font-size: 16px;
  color: #555;
  font-weight: bold;
}
#bc_qrCode .bloc_body {
  text-align: center;
}
#bc_qrCode .bloc_body img {
  width: 50%;
}
@media (man-width: 768px) {
  #bc_qrCode .bloc_body img {
    width: 100%;
  }
}

/* ------------------------------------- */
/*	 15.bc_ranking 	*/
/* ------------------------------------- */
#bc_ranking > .title {
  padding: 10px 0;
  margin: 0;
  margin-bottom: 10px;
  border-bottom: 1px solid #eee;
  font-size: 18px;
  color: #555;
  font-weight: bold;
}
#bc_ranking .content_panel .item_panel .rank_num {
  font-size: 13px;
}
#bc_ranking .content_panel .item_panel .rank_num.num-1 {
  color: #DA0000;
}
#bc_ranking .content_panel .item_panel .rank_num.num-2 {
  color: #C19600;
}
#bc_ranking .content_panel .item_panel .rank_num.num-3 {
  color: #008E74;
}
#bc_ranking .content_panel .item_panel .rank_num.num-4 {
  color: #888888;
}
#bc_ranking .content_panel .item_panel .item_image {
  margin-bottom: 5px;
  text-align: center;
}
#bc_ranking .content_panel .item_panel .item_image img {
  width: 100%;
}
@media (max-width: 768px) {
  #bc_ranking .content_panel .item_panel .item_image img {
    width: inherit;
  }
}
#bc_ranking .content_panel .item_panel .item_meta {
  text-align: center;
}
#bc_ranking .content_panel .item_panel .item_meta .title {
  margin-bottom: 2px;
  border: none;
  font-size: 12px;
}
#bc_ranking .content_panel .item_panel .item_meta .title a {
  color: #333;
}
#bc_ranking .content_panel .item_panel .item_meta .title a:hover {
  color: #1c83e1;
}
#bc_ranking .content_panel .item_panel .item_meta .review {
  margin-bottom: 0px;
}
#bc_ranking .content_panel .item_panel .item_meta .review i {
  color: #EBBF29;
}
#bc_ranking .content_panel .item_panel .item_meta .review i.fa-star-o {
  color: #ccc;
}
#bc_ranking .content_panel .item_panel .item_meta .review .count {
  color: #3A65AB;
}
#bc_ranking .content_panel .item_panel .item_meta .sale_price {
  color: #D50A0A;
  font-size: 14px;
}

/* ------------------------------------- */
/*	 16.bc_recommend 	*/
/* ------------------------------------- */
#bc_recommend > .title {
  padding: 10px 0;
  margin: 0;
  margin-bottom: 10px;
  border-bottom: 1px solid #eee;
  font-size: 18px;
  color: #555;
  font-weight: bold;
}
#bc_recommend .content_panel .item_panel .item_image {
  margin-bottom: 5px;
  text-align: center;
}
#bc_recommend .content_panel .item_panel .item_image img {
  width: 100%;
}
@media (max-width: 768px) {
  #bc_recommend .content_panel .item_panel .item_image img {
    width: inherit;
  }
}
#bc_recommend .content_panel .item_panel .item_meta {
  text-align: center;
}
#bc_recommend .content_panel .item_panel .item_meta .title {
  margin-bottom: 2px;
  border: none;
  font-size: 12px;
}
#bc_recommend .content_panel .item_panel .item_meta .title a {
  color: #333;
}
#bc_recommend .content_panel .item_panel .item_meta .title a:hover {
  color: #1c83e1;
}
#bc_recommend .content_panel .item_panel .item_meta .review {
  margin-bottom: 0px;
}
#bc_recommend .content_panel .item_panel .item_meta .review i {
  color: #EBBF29;
}
#bc_recommend .content_panel .item_panel .item_meta .review i.fa-star-o {
  color: #ccc;
}
#bc_recommend .content_panel .item_panel .item_meta .review .count {
  color: #3A65AB;
}
#bc_recommend .content_panel .item_panel .item_meta .sale_price {
  color: #D50A0A;
  font-size: 14px;
}

/* ------------------------------------- */
/*	 17.bc_sidelogin 	*/
/* ------------------------------------- */
#bc_sidelogin .title {
  padding: 10px 0;
  margin: 0;
  border-bottom: 1px solid #eee;
  font-size: 16px;
  color: #555;
  font-weight: bold;
}
#bc_sidelogin .title i {
  color: #555;
}
#bc_sidelogin .item_panel {
  padding: 15px;
}
#bc_sidelogin .item_panel .forgot {
  margin-top: 4px;
}
#bc_sidelogin .item_panel .forgot a {
  color: #aaa;
}
#bc_sidelogin .item_panel .forgot a:hover {
  color: #1c83e1;
}
#bc_sidelogin .item_panel .btn_login {
  margin-bottom: 10px;
}
#bc_sidelogin .item_panel .btn_login .btn {
  padding: 5px 57px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
@media (max-width: 992px) {
  #bc_sidelogin .item_panel .btn_login .btn {
    padding: 5px 29px;
  }
}
#bc_sidelogin .item_panel .btn_login .btn.btn-primary {
  border-color: #1c83e1;
  background-color: #1c83e1;
}
#bc_sidelogin .item_panel .btn_login .btn.btn-primary:hover {
  background-color: #3C98EB;
}
#bc_sidelogin .item_panel .btn_entry .btn {
  padding: 5px 45px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
@media (max-width: 992px) {
  #bc_sidelogin .item_panel .btn_entry .btn {
    padding: 5px 17px;
  }
}
#bc_sidelogin .item_panel input {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

/* ------------------------------------- */
/*	 18.bc_sideranking 	*/
/* ------------------------------------- */
#bc_sideranking > .title {
  padding: 10px 0;
  margin: 0;
  border-bottom: 1px solid #eee;
  font-size: 16px;
  color: #555;
  font-weight: bold;
}
#bc_sideranking .content_panel .item_panel {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}
#bc_sideranking .content_panel .item_panel .rank_num {
  text-align: center;
  padding: 2px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
}
#bc_sideranking .content_panel .item_panel .rank_num.num-1 {
  color: #DA0000;
}
#bc_sideranking .content_panel .item_panel .rank_num.num-2 {
  color: #C19600;
}
#bc_sideranking .content_panel .item_panel .rank_num.num-3 {
  color: #008E74;
}
#bc_sideranking .content_panel .item_panel .rank_num.num-4 {
  color: #888888;
}
#bc_sideranking .content_panel .item_panel .item_image {
  padding: 0 8px;
}
@media (max-width: 992px) {
  #bc_sideranking .content_panel .item_panel .item_image {
    padding-left: 0;
  }
}
#bc_sideranking .content_panel .item_panel .item_image img {
  width: 100%;
}
#bc_sideranking .content_panel .item_panel .item_meta .title {
  margin-bottom: 2px;
  border: none;
  font-size: 12px;
}
#bc_sideranking .content_panel .item_panel .item_meta .title a {
  color: #333;
}
#bc_sideranking .content_panel .item_panel .item_meta .title a:hover {
  color: #1c83e1;
}
#bc_sideranking .content_panel .item_panel .item_meta .review {
  margin-bottom: 0px;
}
#bc_sideranking .content_panel .item_panel .item_meta .review i {
  color: #EBBF29;
}
#bc_sideranking .content_panel .item_panel .item_meta .review i.fa-star-o {
  color: #ccc;
}
#bc_sideranking .content_panel .item_panel .item_meta .review .count {
  color: #3A65AB;
}
#bc_sideranking .content_panel .item_panel .item_meta .sale_price {
  color: #D50A0A;
  font-size: 14px;
}

/* ------------------------------------- */
/*	 19.bc_slider 	*/
/* ------------------------------------- */
#bc_slider {
  margin-bottom: 20px;
}
#bc_slider .carousel-inner .item img {
  width: 100%;
}
#bc_slider .carousel-indicators {
  bottom: 0px;
  margin-bottom: 0;
}
#bc_slider .carousel-indicators li {
  border: 1px solid #aaa;
}
#bc_slider .carousel-indicators .active {
  width: 10px;
  height: 10px;
  margin: 1px;
  background-color: #aaa;
}
#bc_slider .carousel-control {
  width: inherit;
  opacity: .2;
  text-shadow: none;
}
#bc_slider .carousel-control:hover {
  opacity: 1;
}
#bc_slider .carousel-control i {
  position: absolute;
  top: 46%;
  font-size: 24px;
  padding: 4px 12px;
  color: #fff;
  background-color: #aaa;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
}
#bc_slider .carousel-control.left {
  left: 10px;
}
#bc_slider .carousel-control.right {
  right: 44px;
}
